 <!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TastesGreat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <link href="../css/custom.css" rel="stylesheet" type="text/css" media="all" />
		<link href="../fontawesome/css/all.css" rel="stylesheet">
		<link href="../css/stack-interface.css" rel="stylesheet" type="text/css" media="all">
        <link href="../css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="../css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="../css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
 <link href="../css/theme.css" rel="stylesheet" type="text/css" media="all" />       
       
		<link href="../css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
		<link href="../css/flickity.css" rel="stylesheet" type="text/css" media="all" />
		
		        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
		<link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/font-awesome.min.css">
		<script src="../js/jquery-3.1.1.min.js"></script>        
<script src="../js/jquery.steps.js"></script>
		    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    </head>
    <body data-smooth-scroll-offset="77">
	
        <div class="nav-container">
            <div class="via-1602680609265" via="via-1602680609265" vio="MyNav">
                <nav class="bar bar-toggle">
                   
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="bar__module">
									<a href="/recipes"> <img id="navicon"height="100px"src="../img/logo.png"/></a>
                                </div>
                            </div>
                            <div class="col-6 ">
							
                                
                                    <a class="menu-toggle float-right" href="#" data-notification-link="sidebar-menu"> <i class="stack-interface stack-menu"></i> </a>
                                </div>
                            </div>
                        </div>
					
         
                <div class="notification pos-right pos-top side-menu bg--white" data-notification-link="sidebar-menu" data-animation="from-right">
                    <div class="side-menu__module pos-vertical-center text-right">
                        <ul class="menu-vertical">
				<li><div class="float-right span3 widget-span widget-type-raw_html custom-search" style="" data-widget-type="raw_html" data-x="4" data-w="3">
  <div class="cell-wrapper layout-widget-wrapper">
    <span id="hs_cos_wrapper_module_14308928327274411" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><form method="GET" action="/recipes" role="search" class="navbar-form navbar-left ng-pristine ng-valid" id="express-form" novalidate="">
<input required="" name="search" placeholder="Search" class=" tt-input" id="express-form-typeahead" autocomplete="off" spellcheck="false" dir="auto" type="text">
<button class="search-btn" type="submit"><span class="icon"></span></button>
    </form>
    </span>

		
								</div></div>		
						</li>			
						<% if(!currentUser){ %>
							 <li class="h4"> <a href="/register">SignUp<br></a> </li>
                            <li class="h4"> <a href="/login">LogIn<br></a> </li>
							  <% } else { %>
							
							<li class="h4"> <a href="/recipes/new">Neues Rezept<br></a> </li>
                            <li class="h4"> <a href="/users/<%=currentUser._id%>">Profil<br></a> </li>
							<li class="h4"> <a href="/rezepte/<%=currentUser._id%>">Meine Rezepte<br></a> </li>
                            <li class="h4"> <a href="/logout">Logout<br></a> </li>
							  <% } %>
                        </ul>
                    </div>
                    <div class="side-menu__module pos-bottom pos-absolute col-12 text-right">
                        <ul class="social-list list-inline list--hover">
							
                            <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                        </ul>
                    </div>
                
            </div>
       
		<div>
			
		</div>
	
                    
		<%if(error && error.length > 0){ %>
		<div class="alert alert-danger" role="alert">
  <%= error %>
</div>
	<%	} %>
		<% if(success && success.length > 0){%>
			<div class="alert alert-success" role="alert">
  <%= success %>
</div>
	<%	} %>
	
	
	