<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../fontawesome/css/all.css" rel="stylesheet">
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
		<link href="stylesheets/landing.css" rel="stylesheet">

    </head>
    <body data-smooth-scroll-offset="77">
        <div class="nav-container"> </div>
        <div class="main-container">
             <section class="cover height-80 imagebg text-center parallax" data-overlay="5">
                <div class="background-image-holder background--top"> <img alt="background" src="../img/AdobeStock_280790880_Preview.jpeg"> </div>
                <div class="container ">
                    <div class="row">
                        <div class="col-md-8"> <img id="landing_logo"alt="Image" class="unmarg--bottom" src="../img/LogoTastesGreat.png">
	 <div class="typed-headline">
	<span class="inline-block" ></span>
								<span type="text" id="typo"class=" h3 inline-block typed-text typed-text--cursor color--primary " data-typed-strings="Pancakes, Salat, Pasta, Suppen"></span>
</div>
							<h3  id="vorschlag"class="">Einfach gut kochen mit z.B. </h3>
						
							
							</div>
							
					
								
                            
							
                       
                    </div>
                </div>
				 
            </section>
		
					
		
		
				 
            <section class="text-center">
			
				
                <div class="container">
				
                    <div class="row">
										<div class="col-md-12">
								<a class="btn btn--primary type--uppercase"id="landing" href="/recipes"> <span class="btn__text">
						Probier es jetzt aus
					</span> </a>		  
						</div>		
					
                        <div class="col-md-4">
                            <div class="feature feature-3 boxed boxed--lg boxed--border"> <i class="icon icon-Profile icon--lg"></i>
                                <h4>Zeit sparen</h4>
								<p>
									Plane deine Ernährung schnell und flexibel und gewinne dadurch Zeit für das was dir wirklich wichtig ist
								</p><a href="/plan">Jetzt Ernährungsplan erstellen</a>
                                 </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-3 boxed boxed--lg boxed--border"> <i class="icon icon-Alarm-Clock icon--lg"></i>
                                <h4>Individuel</h4>
                                <p>Passe deine Suche deinen Bedürfnissen an und finde Rezepte die zu dir passen&nbsp;</p> <a href="/register">Jetzt Profil erstellen</a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-3 boxed boxed--lg boxed--border"> <i class="icon icon-Add-User icon--lg"></i>
                                <h4>Einfach</h4>
                               
							
							<p> Sammle und verwalte deine Rezepte an einem zentralen Ort. Entdecke neue Geschmackeserlebnisse und verdiene damit sogar Geld</p> <a href="/recipes">Rezept suchen</a> <span class="label">Suche</span> 
							
                        </div>
                    </div>
                </div>
				</div>
            </section>
			 <section class="text-center imagebg parallax" data-overlay="4">
                <div class="background-image-holder"> <img alt="background" src="../img/Schiefer.jpeg"> </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="cta">
                                <h2>Noch keinen Account?</h2>
                                <p class="lead"> Registriere dich jetzt und mach den ersten Schritt zu einer besseren Ernährung </p>
                                <a class="btn btn--primary type--uppercase" href="/register"> <span class="btn__text">
                           Jetzt registrieren</span></a> 
                        <!--  <span class="label"></span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="imageblock switchable feature-large"id="blog" >"
		
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder"> <img alt="image" src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=931&q=80"> </div>
                </div>
               		 <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7 ">
                            <h2>Was ist TastesGreat</h2>
                            <p class="lead">Einkaufen ist anstrengend, vorallem in Zeiten von Corona. Es ist extrem zeitaufwendig eine gesunde und leckere Ernährung zu planen, vorallem wenn keine Lebensmittel weggeschmissen werden sollen.</p>
                            <p class="lead">An diesem Punkt setzt TastesGreat an. Mit unserer Hilfe kannst du einfach einen individualisierten Ernährungsplan erstellen, welcher sich flexibel an dein Leben und Präferenzen anpasst. </p>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="space--sm footer-1 text-center-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline list--hover">
                                <li> <a href="#"><span>Our Company</span></a> </li>
                                <li> <a href="#"><span>Blog</span></a> </li>
                                <li> <a href="#"><span>Products</span></a> </li>
                                <li> <a href="#"><span>Work With Us</span></a> </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                            </ul>
                            <a href="#" class="btn type--uppercase"> <span class="btn__text">
                        Contact Us
                    </span> </a>
                        </div>
                    </div>
                    <div class="row">
						<div class="col-sm-12"><i class="fab fa-envira" id="navicon" fa-lg></i> | <span class="type--fine-print"> © <span class="update-year">2020</span>&nbsp;Icons from Fontsawesome Inc.</span> <a class="type--fine-print" href="#">Privacy Policy</a> <a class="type--fine-print" href="#">Legal</a> </div>
                    </div>
                </div>
            </footer>
        </div>
		<script src="js/jquery.steps.js"></script>
		<script src="js/options.js"></script>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>
		<script src="js/typed.min.js"></script>

    </body>

</html>