<%- include("partials/header") %>
<div class="main-container">
            <section class="space--xs imageblock switchable feature-large">
                <div class="imageblock__content col-lg-5 col-md-4 pos-right">
                    <div class="background-image-holder"> <img alt="image" src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=931&q=80"> </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2>Create an account</h2> <span>Already have an account? <a href="/login">Sign In</a></span>
                            <hr class="short">
                            <form action="/register" method="POST">
                                <div class="row">
                                    <div class="col-12"> <input type="text" name="username" placeholder="Username"> </div>
                                    <div class="col-12"> <input type="email" name="email" placeholder="Email Address"> </div>
                                    <div class="col-12"> <input type="password" name="password" placeholder="Password"> </div>
                                    <div class="col-12"> <input type="text" name="adminCode" placeholder="Admincode"> </div>
                                    <div class="col-12">
                                        <div class="input-checkbox"> <input type="checkbox" name="agree"> <label></label> </div> <span>Remember Me</span> </div>
                                    <div class="col-12"> <button type="submit" class="btn btn--primary">Create Account</button> </div>
                                    <hr>
                                    <div class="col-12"> <span class="type--fine-print">By signing up, you agree to the <a href="#">Terms of Service</a></span> </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
<%- include("partials/footer") %>