.wrapper {
	display: -webkit-box;
	display: flex;
	width: 90%;
	justify-content: space-around;
}
.card {
	width: 280px;
	height: 360px;
	border-radius: 15px;
	padding: 1.5rem;
	background: white;
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: end;
	align-items: flex-end;
	-webkit-transition: 0.4s ease-out;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card:hover {
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}
.card:hover:before {
	opacity: 1;
}
.card:hover .info {
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
.card:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.6);
	z-index: 2;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	opacity: 0;
}
.card img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 15px;
}
.card .info {
	position: relative;
	z-index: 3;
	color: white;
	opacity: 0;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.card .info h1 {
	margin: 0px;
}
.card .info p {
	letter-spacing: 1px;
	font-size: 15px;
	margin-top: 8px;
}
.card .info button {
	padding: 0.6rem;
	outline: none;
	border: none;
	border-radius: 3px;
	background: white;
	color: black;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
}
.card .info button:hover {
	background: dodgerblue;
	color: white;
}
#navicon {
	color: #de830d;
}
.custom-search {
	position: absolute;
	right: 20px;
	top: 1px;
}
#express-form-typeahead {
	background-image: url(../img/search-solid.svg);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 0px 10px;
	padding: 0 0 0 37px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition: width 400ms ease, background 400ms ease;
	width: 0;
}
#express-form-typeahead:focus {
	background-color: #fff;
	border-bottom: 1px solid black;
	cursor: text;
	outline: 0;
	width: 230px;
	border-radius: 0px;
}
.search-btn {
	display: none;
}
input[type='search'] {
	-webkit-appearance: textfield;
}
section:first-child {
	padding-top: 0;
}
.rezept {
	background-color: white;
	position: relative;
	bottom: 12rem;
	z-index: 10;
}
.zutaten {
	position: sticky;
	top: 0;
}
.attribute {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #de830d;
	color: #343638;
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
	margin: auto auto auto auto;
}
.inhaltattribute {
	top: 20px;
	font-size: 25px;
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
}
.einheitattribute {
	top: 40px;
	font-size: 14px;
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
}
.beschreibungattribute {
	padding: 0 5px;
	text-align: center;
}
.attribut {
	padding: 1rem 1rem 1rem 1rem;
}
.nav-container {
	background-color: transparent;
}
.addBtn {
	padding: 10px;
	width: 25%;
	background: #d9d9d9;
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 0;
}
.Add{
	margin-top: 10px;
	width: 100%;
}
.Add2{
	margin-top: 10px;
	width: 35%;
	height: 3.3rem;
	
}
.nav-container{
	margin: 0 2rem 0 2rem
}
footer{
	margin: 0 2rem 0 2rem
}