<%- include("../partials/footer") %>
<div class="main-container">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider slider--ken-burns" data-arrows="true" data-paging="true">
                                <ul class="slides">
                                    <li> <img alt="Image" src="img/work-1.jpg"> </li>
                                    <li> <img alt="Image" src="img/work-2.jpg"> </li>
                                    <li> <img alt="Image" src="img/work-3.jpg"> </li>
                                    <li> <img alt="Image" src="img/work-4.jpg"> </li>
                                    <li> <img alt="Image" src="img/work-5.jpg"> </li>
                                    <li> <img alt="Image" src="img/work-6.jpg"> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="tabs-container tabs--vertical">
                                <ul class="tabs">
                                    <li>
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Text-Effect"></i> <span class="h5"><p>Zutaten</p></span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> Zutaten</p>
                                            <p class="lead"> </p>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Target-Market"></i> <span class="h5"><p>Anleitung</p></span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> Stack follows the BEM naming convention that focusses on logical code readability that is reflected in both the HTML and CSS. Interactive elements such as accordions and tabs follow the same markup patterns making rapid development easier for developers and beginners alike. </p>
                                            <p class="lead"> Add to this the thoughtfully presented documentation, featuring code highlighting, snippets, class customizer explanation and you've got yourself one powerful value package. </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Text-Effect"></i> <span class="h5"><p>Nährwerte</p></span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> Stack offers a clean and contemporary look to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner. </p>
                                            <p class="lead"> Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away — Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple. </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Love-User"></i> <span class="h5"><p>Kommentare</p></span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates. </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
<%- include("../partials/header") %>