<%- include("../partials/header") %>
<div class="main-container">
                       <section>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="tabs-container tabs--vertical">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Target-Market"></i> <span class="h5"><p>Übersicht</p></span> </div>
                                        <div class="tab__content">
                                           		 <div class = "slider" data-arrows = "true" data-paging = "true">
	<ul class = "slide">
		<li class = "col-md-6"> <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"> </ li>
		<li class = "col-md-6"> <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"> </ li>
		<li class = "col-md-6"> <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"> </ li>
	</ ul>
</ div>
                                            <p class="lead">Meine Lieblingsrezepte<br>Rezepthistorie<br>Rezeptempfehlungen von Freunden<br><br></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Love-User"></i> <span class="h5"><p>Mein Profil</p></span> </div>
                                        <div class="tab__content">
                                            <p class="lead">Nickname<br>Voller Name<br>Avatar<br>Passwort<br>Neues Passwort vergeben<br>Profilbeschreibung<br>jeweils dies editieren können</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Text-Effect"></i> <span class="h5"><p>Präferenzen</p></span> </div>
                                        <div class="tab__content">
                                            <p class="lead">Allergene(Zutatenliste)(Autocomplete)<br>Checkbox für Vegetarisch, Vegan, und dabei als Unterhierarchie die(Mit Kategorien arbeiten) Zutaten auf Verbotsliste setzen(Dabei Zutaten erfassen)<br></p>
                                            <p class="lead"> </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Love-User"></i> <span class="h5"><p>Meine Rezepte</p></span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates. </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Text-Effect"></i> <span class="h5"><p>Freunde</p> </span> </div>
                                        <div class="tab__content">
                                            <p class="lead">Profilverlinkung, Anzahl Rezepte, Name, entfolgen</p>
                                            <p class="lead"> </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Text-Effect"></i> <span class="h5"><p>Admin</p> </span> </div>
                                        <div class="tab__content">
                                            <p class="lead">Neuen Admin hinzufügen</p>
                                            <p class="lead">Gemeldete Beiträge<br>User Suchen und bearbeiten</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
				 <div class = "slider" data-arrows = "true" data-paging = "true">
	<ul class = "slide">
		<li class = "col-md-6"> <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"> </ li>
		<li class = "col-md-6"> <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"> </ li>
		<li class = "col-md-6"> <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"> </ li>
	</ ul>
</ div>
            </section>
        </div>
 <div class = "slider" data-arrows = "true" data-paging = "true">
	<ul class = "slide">
		<li class = "col-md-6"> <img href="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"> </ li>
		<li class = "col-md-6"> <img href="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"> </ li>
		<li class = "col-md-6"> <img href="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"> </ li>
	</ ul>
</ div>
<%- include("../partials/footer") %>